{{#if addNewQuestion}}
<div class="well question-form">
  <h3>ask a question.</h3>
    <form>
      <div class="form-group">
        <label for="content">a question:</label>
        {{input value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="author">your name:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="notes">your notes:</label>
        {{input value=notes id="notes"}}
      </div>

      <button class="btn btn-primary"{{action 'saveQuestion1'}}>add</button>
      <button class="btn btn-danger"{{action 'cancelQuestion'}}>cancel</button>
    </form>
  </div>


{{else}}
  <button class="new-question btn btn-primary" {{action 'questionFormShow'}}>new question</button>
{{/if}}
