{{#if addNewAnswer}}
<h3>Answer the Question</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="content">an answer:</label>
        {{input value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="author">your name:</label>
        {{input value=author id="author"}}
      </div>

      <button class="btn btn-primary"{{action 'saveAnswer'}}>Add</button>

    </form>
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'answerFormShow'}}>Answer the Question</button>
{{/if}}
