{{#if addNewReview}}
<div class="well review-form">
    <h3>review the question:</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="user">name:</label><br>
          {{input value=user id="user"}}
        </div>

        <div class="form-group">
          <label for="rating">rating:</label><br>
          {{input value=rating id="rating"}}
        </div>

        <div class="form-group">
          <label for="comment">comment:</label><br>
          {{input value=comment id="comment"}}
        </div>
        <button class="btn btn-primary" {{action 'saveReview'}}>Save</button>
        <button class="btn btn-danger" {{action 'cancelReview'}}>Cancel</button>
      </form>
    </div>
  </div>
{{else}}
  <button class="review-button btn btn-primary" {{action 'reviewFormShow'}}>review the question</button>
{{/if}}
