{{#if addNewAnswer}}
<div class="well answer-form">
  <h3>answer the question:</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="content">an answer:</label>
          {{input value=content id="content"}}
        </div>
        <div class="form-group">
          <label for="author">your name:</label>
          {{input value=author id="author"}}
        </div>

        <button class="btn btn-primary"{{action 'saveAnswer'}}>add</button>

        <button class="btn btn-danger"{{action 'cancelAnswer'}}>cancel</button>

      </form>
    </div>
  </div>
{{else}}
  <button class="answer-button btn btn-danger" {{action 'answerFormShow'}}>answer the question</button>
{{/if}}
