{{#if updateQuestionForm}}
  <h4>Edit {{question.author}}'s Question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="content">question:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="author">name:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>
      <div class="form-group">
        <label for="notes">notes:</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button class="btn btn-primary"{{action 'update' question}}>Save</button>

    </form>
  </div>
  {{else}}
    <button class="btn btn-primary"{{action 'updateQuestionForm'}}>Edit</button>
  {{/if}}
