<div class="jumbotron the-question">
<h2 id="the-question">{{model.content}}</h2>
  <h4>by: {{model.author}}</h4>
  <h5>notes: {{model.notes}}</h5>
</div>

{{update-question question=model update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}

{{question-detail question=model}}
