<div class="well the-question">
<h1 id="the-question">
  {{model.content}}</h1>
  <h4>by: {{model.author}}</h4>
  <h4>notes: {{model.notes}}</h4>
</div>

{{new-review saveReview="saveReview" question=model}}

{{update-question question=model update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}

{{question-detail question=model}}
